[submodule "dependencies/nginx"]
	path = dependencies/nginx
	url = https://github.com/nginx/nginx
[submodule "dependencies/openssl"]
	path = dependencies/openssl
	url = https://github.com/openssl/openssl
[submodule "dependencies/luajit"]
	path = dependencies/luajit
	url = https://github.com/LuaJIT/LuaJIT
	branch = v2.1
[submodule "dependencies/lua-cjson"]
	path = dependencies/lua-cjson
	url = https://github.com/openresty/lua-cjson
[submodule "dependencies/lua-cmsgpack"]
	path = dependencies/lua-cmsgpack
	url = https://github.com/antirez/lua-cmsgpack
[submodule "dependencies/zlib-ng"]
	path = dependencies/zlib-ng
	url = https://github.com/Dead2/zlib-ng/
[submodule "dependencies/lua-nginx-module"]
	path = dependencies/lua-nginx-module
	url = https://github.com/openresty/lua-nginx-module
[submodule "lua-modules/lua-resty-core"]
	path = lua-modules/lua-resty-core
	url = https://github.com/openresty/lua-resty-core
[submodule "lua-modules/lua-resty-string"]
	path = lua-modules/lua-resty-string
	url = https://github.com/openresty/lua-resty-string
[submodule "dependencies/set-misc-nginx-module"]
	path = dependencies/set-misc-nginx-module
	url = https://github.com/openresty/set-misc-nginx-module
[submodule "dependencies/ngx_coolkit"]
	path = dependencies/ngx_coolkit
	url = https://github.com/FRiCKLE/ngx_coolkit
[submodule "dependencies/ngx_devel_kit"]
	path = dependencies/ngx_devel_kit
	url = https://github.com/simpl/ngx_devel_kit
[submodule "lua-modules/lua-resty-dns"]
	path = lua-modules/lua-resty-dns
	url = https://github.com/openresty/lua-resty-dns
[submodule "lua-modules/lua-resty-lock"]
	path = lua-modules/lua-resty-lock
	url = https://github.com/openresty/lua-resty-lock
[submodule "lua-modules/lua-resty-lrucache"]
	path = lua-modules/lua-resty-lrucache
	url = https://github.com/openresty/lua-resty-lrucache
[submodule "lua-modules/lua-resty-websocket"]
	path = lua-modules/lua-resty-websocket
	url = https://github.com/openresty/lua-resty-websocket
[submodule "lua-modules/lua-resty-upstream-healthcheck"]
	path = lua-modules/lua-resty-upstream-healthcheck
	url = https://github.com/openresty/lua-resty-upstream-healthcheck
[submodule "dependencies/echo-nginx-module"]
	path = dependencies/echo-nginx-module
	url = https://github.com/openresty/echo-nginx-module
[submodule "dependencies/srcache-nginx-module"]
	path = dependencies/srcache-nginx-module
	url = https://github.com/openresty/srcache-nginx-module
[submodule "dependencies/stream-lua-nginx-module"]
	path = dependencies/stream-lua-nginx-module
	url = https://github.com/openresty/stream-lua-nginx-module
[submodule "dependencies/nginx-rtmp-module"]
	path = dependencies/nginx-rtmp-module
	url = https://github.com/arut/nginx-rtmp-module
[submodule "lua-modules/lua-resty-mysql"]
	path = lua-modules/lua-resty-mysql
	url = https://github.com/openresty/lua-resty-mysql
[submodule "lua-modules/lua-resty-redis"]
	path = lua-modules/lua-resty-redis
	url = https://github.com/openresty/lua-resty-redis
[submodule "lua-modules/lua-resty-memcached"]
	path = lua-modules/lua-resty-memcached
	url = https://github.com/openresty/lua-resty-memcached
[submodule "dependencies/encrypted-session-nginx-module"]
	path = dependencies/encrypted-session-nginx-module
	url = https://github.com/openresty/encrypted-session-nginx-module
[submodule "dependencies/headers-more-nginx-module"]
	path = dependencies/headers-more-nginx-module
	url = https://github.com/openresty/headers-more-nginx-module
[submodule "dependencies/lua-upstream-nginx-module"]
	path = dependencies/lua-upstream-nginx-module
	url = https://github.com/openresty/lua-upstream-nginx-module
