[submodule "dependencies/nginx"]
	path = dependencies/nginx
	url = https://github.com/nginx/nginx
[submodule "dependencies/openssl"]
	path = dependencies/openssl
	url = https://github.com/openssl/openssl
[submodule "dependencies/luajit"]
	path = dependencies/luajit
	url = https://github.com/LuaJIT/LuaJIT
	branch = v2.1
[submodule "dependencies/lua-cjson"]
	path = dependencies/lua-cjson
	url = https://github.com/openresty/lua-cjson
[submodule "dependencies/lua-cmsgpack"]
	path = dependencies/lua-cmsgpack
	url = https://github.com/antirez/lua-cmsgpack
[submodule "dependencies/zlib-ng"]
	path = dependencies/zlib-ng
	url = https://github.com/Dead2/zlib-ng/
[submodule "dependencies/lua-nginx-module"]
	path = dependencies/lua-nginx-module
	url = https://github.com/openresty/lua-nginx-module
[submodule "lua-modules/lua-resty-core"]
	path = lua-modules/lua-resty-core
	url = https://github.com/openresty/lua-resty-core
